<nav class="navbar">
  <div class="links-container">
    <a
      mat-button
      routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Home</a
    >
    <a
      mat-button
      routerLink="/manage-books"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Manage Books</a
    >
  </div>
  <div class="logo-container">
    <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
      <mat-icon class="logo-icon"> menu_book </mat-icon>
    </a>
  </div>
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Search...</mat-label>
    <input matInput id="search" type="text" (input)="search($event)" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</nav>
