.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #d7e3ff;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.links-container {
  display: flex;
  gap: 1rem;
}

h1 {
  margin: 0;
}

.logo-icon {
  font-size: 65px;
  width: 65px;
  height: 65px;
  color: #08315c;
}
mat-form-field {
  background-color: white;
}
a {
  font-size: 1rem;
}
