mat-form-field {
  width: 46%;
  padding: 1rem;
}
.mat-mdc-form-field-subscript-wrapper {
  padding-bottom: 1rem;
}
img {
  margin: 1rem;
  border-radius: 12px;
}
button {
  margin: 1rem;
}
.hint {
  color: var(--text-color);
}
