.book-card {
  width: 100%;
  background-color: var(--card-bg);

  .image-link {
    border-radius: inherit;
    background-color: var(--text-color);
    position: relative;
    display: inherit;

    &:hover .middle {
      opacity: 1 !important;
    }

    &:hover .book-image {
      -webkit-filter: grayscale(100%) blur(1px);
      filter: grayscale(100%) blur(1px);
      opacity: 0.3;
    }

    .book-image {
      border-radius: inherit;
      width: 100%;
      -webkit-filter: grayscale(0) blur(0);
      filter: grayscale(0) blur(0);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      opacity: 1;
    }

    .middle {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;

      .text {
        color: var(--bg-color);
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }

  .grid {
    display: grid;
  }
}
