<div class="details">
  <a class="details__title" [routerLink]="['/book', bookDetails.name]">
    {{ bookDetails.name }}!
  </a>
  <p class="details__author">{{ bookDetails.author }}</p>
  <p class="details__price">${{ bookDetails.price }}</p>
  @if (bookDetails.genre.length) {
  <div class="details__genre_container">
    <a [routerLink]="['/genre', bookDetails.genre[0]]">
      <mat-chip class="details__genre_contianer__genre">{{
        bookDetails.genre[0]
      }}</mat-chip>
    </a>
    @if (bookDetails.genre.length-1) {
    <mat-chip class="genre">+{{ bookDetails.genre.length - 1 }}</mat-chip>
    }
  </div>
  }
</div>
