:host {
  .form-field {
    width: 46%;
    padding: 1rem;
    .hint {
      color: var(--text-color);
    }
  }
  .book-image {
    margin: 1rem;
    border-radius: 12px;
  }
  .submit-button {
    margin: 1rem;
  }
}
