<div class="container">
  @for (book of booksList; track book.id) {
  <vertical-book [bookSpec]="book" class="vertical-book" />
  }@if (booksList[0]) {
  <mat-paginator
    #paginator
    class="paginator"
    [length]="length"
    [pageSize]="pageSize"
    [disabled]="disabled"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
    [hidePageSize]="hidePageSize"
    [pageIndex]="pageIndex"
    aria-label="Select page"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>
  }@else {
  <app-error-container [errorMessage]="'Sorry no book was found :('" />
  }
</div>
