<div class="side-nav">
  <a
    routerLink=""
    routerLinkActive="side-nav__link--active"
    [routerLinkActiveOptions]="{ exact: true }"
    ariaCurrentWhenActive="page"
    class="side-nav__link"
  >
    <span>
      <mat-icon matSuffix class="side-nav__link__icons">home</mat-icon>
    </span>
    <span class="side-nav__link__text" mat-icon-button>Home</span>
  </a>
  <a
    routerLink="/manage-books"
    routerLinkActive="side-nav__link--active"
    ariaCurrentWhenActive="page"
    class="side-nav__link"
  >
    <span>
      <mat-icon matSuffix class="side-nav__link__icons">edit_square</mat-icon>
    </span>
    <span class="side-nav__link__text" mat-icon-button>Manage</span>
  </a>
  <a
    routerLink="/about"
    routerLinkActive="side-nav__link--active"
    ariaCurrentWhenActive="page"
    class="side-nav__link"
  >
    <span>
      <mat-icon matSuffix class="side-nav__link__icons">groups</mat-icon>
    </span>
    <span class="side-nav__link__text" mat-icon-button>About</span>
  </a>
  <a
    routerLink="/contact"
    routerLinkActive="side-nav__link--active"
    ariaCurrentWhenActive="page"
    class="side-nav__link"
  >
    <span>
      <mat-icon matSuffix class="side-nav__link__icons">contacts</mat-icon>
    </span>
    <span class="side-nav__link__text" mat-icon-button>Contact</span>
  </a>
  <div class="side-nav__element">
    <button
      mat-icon-button
      (click)="changeTheme()"
      data-testid="theme-changer-button"
    >
      <mat-icon class="side-nav__element__toggle" id="themeChangerIcon">{{
        isLight ? "dark_mode" : "light_mode"
      }}</mat-icon>
    </button>
  </div>
</div>

<div class="top-nav">
  <div>
    <a routerLink="" ariaCurrentWhenActive="page">
      <mat-icon class="top-nav__logo"> menu_book </mat-icon>
    </a>
  </div>
  <mat-form-field
    appearance="fill"
    subscriptSizing="dynamic"
    class="top-nav__field"
  >
    <mat-label>Search...</mat-label>
    <input matInput id="search" type="text" (input)="search($event)" />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>
