::content {
  .side-nav {
    background: var(--nav-bg);
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    block-size: 100%;
    overflow-y: auto;
    padding: 24px 0;
    position: fixed;
    inset-block-start: 0;
    inline-size: 96px;
    z-index: 2;

    &__link {
      font-size: 1rem;
      text-decoration: none;
      align-items: center;
      color: var(--text-color);
      display: flex;
      flex-direction: column;
      block-size: 70px;
      inline-size: 80px;
      text-decoration: none;

      &__icons {
        padding: 0.15rem 0.75rem;
        border-radius: 1rem;
        box-sizing: content-box;
      }

      &--active &__icons {
        background-color: var(--active-bg-color);
      }

      &__text {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 0.1px;
      }
    }

    &__element {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: flex-end;

      &__toggle {
        color: var(--text-color);
      }
    }
  }

  .top-nav {
    padding-inline-start: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inline-size: calc(100% - 96px);
    box-shadow: 1px 1px transparent;
    z-index: 1;
    background: var(--top-nav-bg);
    block-size: 6rem;

    &__logo {
      font-size: 65px;
      inline-size: 66px;
      block-size: 68px;
      color: var(--logo-color);
      padding-inline: 1rem;
    }

    &__field {
      inline-size: 60%;
    }
  }
}
