<div class="book-details-container">
  <div class="book-details-image-container">
    <img src="{{ book.image_url_l }}" />
  </div>
  <div class="card-container">
    <mat-card class="book-details-detail-container">
      <mat-card-header>
        <a (click)="goBack()"><mat-icon>arrow_back_ios</mat-icon> </a>
        <h2>
          {{ book.book_title }}
          <span class="author">by {{ book.book_author }}</span>
        </h2>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <h6>Summery:</h6>
        <p>
          Nobis et et magnam aut doloribus est. Cum maiores consequatur dolorem.
          Dicta odio tempore ea labore molestiae quisquam eius. Dolores sint ad
          delectus tempore sed maiores. Et magni itaque sit. Est id eum quis.
          Laudantium voluptatem rerum in iusto et. Ut aut maiores quidem qui. Et
          et eveniet. Et beatae animi consectetur cupiditate velit
          magnam.........
        </p>
        <!-- <p><b>Price:</b> ${{ book.price }}</p> -->
        <p><b>Publish year: </b> {{ book.year_of_publication }}</p>
        <!-- <div class="genres">
          <b>Genre:</b>
          @for (genre of book.genre; track $index) {
          <a [routerLink]="['/genre', genre]">
            <mat-chip>{{ genre }}</mat-chip>
          </a>
          }
        </div> -->
        <button mat-flat-button>Buy</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
