.image-container > img {
  border-radius: 0.5rem;
  border: 1px solid #222;
}
.details-container {
  inline-size: 100%;
}

.grid {
  display: grid;
}

.book-card {
  inline-size: 100%;
  flex-direction: row;
}
