.contianer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 5rem;
  background-color: var(--bg-color);
  color: var(--text-color);

  &__message {
    margin: 0;
  }
}
