<div class="add-btn">
  <a mat-flat-button class="demo-button" routerLink="add">Add book</a>
</div>

@if (booksList.length === 0) {
<app-error-container [errorMessage]="'Sorry no book was found :('" />
}@else {
<table
  mat-table
  [dataSource]="booksList"
  class="mat-elevation-z8 container__table"
>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Image</th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="['/book', element.name]">
        <img src="{{ element.image }}" alt="" class="container__table__img" />
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef>Genres</th>
    <td mat-cell *matCellDef="let element">
      @for (genre of element.genre; track $index) {
      <a [routerLink]="['/genre', genre]">
        <mat-chip class="container__table__chips">{{ genre }} </mat-chip>
      </a>
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef>Author</th>
    <td mat-cell *matCellDef="let element">
      {{ element.author }}
    </td>
  </ng-container>

  <ng-container matColumnDef="publishData">
    <th mat-header-cell *matHeaderCellDef>Publish Date</th>
    <td mat-cell *matCellDef="let element">{{ element.publishData }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element">${{ element.price }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="['edit', element.name]"
        ><mat-icon
          class="container__table__icon container__table__edit"
          aria-hidden="false"
          aria-label="Edit Book"
          fontIcon="edit"
          #tooltip="matTooltip"
          matTooltip="Edit"
          matTooltipPosition="below"
        ></mat-icon
      ></a>
      <mat-icon
        class="container__table__icon container__table__delete"
        aria-hidden="false"
        aria-label="Delete Book"
        fontIcon="delete"
        #tooltip="matTooltip"
        matTooltip="Delete"
        matTooltipPosition="below"
        (click)="deleteBook(element.name)"
      ></mat-icon>
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
    class="table__row"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="table__row"
  ></tr>
</table>

}
