// Theme
body[data-theme="light"] {
  --bg-color: #fdfbff;
  --nav-bg: linear-gradient(
      0deg,
      rgba(105, 145, 214, 0.08),
      rgba(105, 145, 214, 0.08)
    ),
    #fff;
  --top-nav-bg: linear-gradient(0deg, transparent 0, #fff 10px);
  --text-color: #3c4043;
  --logo-color: #202124;
  --card-bg: #fdfbff;
  --black-white: black;
  --author-color: #555;
  background-color: var(--bg-color);
}

body[data-theme="dark"] {
  --bg-color: #202124;
  --nav-bg: linear-gradient(
      0deg,
      rgba(209, 225, 255, 0.08),
      rgba(209, 225, 255, 0.08)
    ),
    #1f1f1f;
  --top-nav-bg: linear-gradient(0deg, transparent 0, #202124 10px);
  --text-color: #f1f3f4;
  --logo-color: #fdfbff;
  --card-bg: #28292a;
  --black-white: white;
  --author-color: #aaa;
  background-color: var(--bg-color);
}
.mat-mdc-chip-action-label {
  color: var(--text-color) !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.mdc-text-field--filled {
  border-radius: 10rem !important;
}
.mdc-line-ripple {
  display: none !important;
}
