html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fdfbff;
}
app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.mdc-text-field--filled {
  border-radius: 10rem !important;
}
.mdc-line-ripple {
  display: none !important;
}
