<div class="book">
  <div class="book__block1">
    <img src="{{ book.image }}" class="book__block1__img" />
  </div>
  <div class="book__block2">
    <mat-card class="book__block2__elem1">
      <mat-card-header class="book__block2__elem1__header">
        <a (click)="goBack()" class="book__block2__elem1__header__link"
          ><mat-icon class="book__block2__elem1__header__link__icon"
            >arrow_back_ios</mat-icon
          >
        </a>
        <h2 class="book__block2__elem1__header__title" data-testid="book-title">
          {{ book.name }}
          <span class="book__block2__elem1__header__link__author"
            >by {{ book.author }}</span
          >
        </h2>
      </mat-card-header>
      <mat-divider class="book__block2__elem1__divider"></mat-divider>
      <mat-card-actions class="book__block2__elem1__actions">
        <h6>Summery:</h6>
        <p>
          Nobis et et magnam aut doloribus est. Cum maiores consequatur dolorem.
          Dicta odio tempore ea labore molestiae quisquam eius. Dolores sint ad
          delectus tempore sed maiores. Et magni itaque sit. Est id eum quis.
          Laudantium voluptatem rerum in iusto et. Ut aut maiores quidem qui. Et
          et eveniet. Et beatae animi consectetur cupiditate velit
          magnam.........
        </p>
        <p><b>Price:</b> ${{ book.price }}</p>
        <p><b>Publish date: </b> {{ book.publishData }}</p>
        <div class="book__block2__elem1__actions__genres">
          <b>Genre:</b>
          @for (genre of book.genre; track $index) {
          <div class="book__block2__elem1__actions__genres__block">
            <a [routerLink]="['/genre', genre]">
              <mat-chip>{{ genre }}</mat-chip>
            </a>
          </div>
          }
        </div>
        <button mat-flat-button>Buy</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
