.book {
  inline-size: 100%;
  display: flex;
  gap: 2rem;
  box-sizing: border-box;

  &__block1 {
    inline-size: 26%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
      inline-size: 100%;
      border-radius: 0.75rem;
      object-fit: cover;
    }
  }

  &__block2 {
    inline-size: 100%;

    &__elem1 {
      padding: 1rem;
      flex-direction: column;
      background-color: var(--card-bg);
      color: var(--black-white);

      &__header {
        align-items: center;

        &__title {
          margin: 0;
        }

        &__link {
          text-decoration: none;
          color: var(--text-color);

          &__icon {
            cursor: pointer;
          }

          &__author {
            font-size: 1.5rem;
          }
        }
      }

      &__divider {
        margin-block: 1rem;
      }

      &__actions {
        display: flex;
        flex-direction: column;
        align-items: start;
        box-sizing: border-box;
        min-block-size: 3.25rem;
        padding: 0.5rem;

        &__genres {
          padding-block-end: 1rem;
          display: flex;
          align-items: center;

          &__block {
            padding-inline: 0.25rem;
          }
        }
      }
    }
  }
}
