<form [formGroup]="newBookForm" (ngSubmit)="handleSubmit()" class="form">
  <div class="form__image-container">
    <img [src]="book.image" class="form__image-container__image" />
  </div>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Name</mat-label>
    <input
      matInput
      placeholder="Name"
      required
      type="text"
      formControlName="name"
      id="name"
      data-testid="name-input"
    />
  </mat-form-field>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Image</mat-label>
    <input
      matInput
      placeholder="Image"
      required
      type="text"
      formControlName="image"
      id="image"
    />
    <mat-hint class="form__hint">Image link here</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Author</mat-label>
    <input
      matInput
      placeholder="Author"
      required
      type="text"
      formControlName="author"
      id="author"
    />
  </mat-form-field>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Publish Date</mat-label>
    <input
      matInput
      placeholder="Publish Date"
      required
      type="text"
      formControlName="publishData"
      id="publishData"
    />
  </mat-form-field>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Genre</mat-label>
    <input
      matInput
      placeholder="Genre"
      required
      type="text"
      formControlName="genre"
      id="genre"
    />
    <mat-hint class="form__hint">seperate using comma -> x,y,z</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="fill" class="form__field">
    <mat-label>Price</mat-label>
    <input
      matInput
      placeholder="Price"
      required
      type="text"
      formControlName="price"
      id="price"
    />
  </mat-form-field>
  <div class="form__block">
    <button mat-flat-button type="submit">Edit book</button>
  </div>
</form>
