.form {
  &__image-container {
    padding-inline-start: 1rem;

    &__image {
      border-radius: 12px;
    }
  }

  &__field {
    inline-size: 46%;
    padding: 1rem;
  }

  &__hint {
    color: var(--text-color);
  }

  &__block {
    padding-inline: 1rem;
  }
}
