<a class="title" [routerLink]="['/book', bookDetails.book_title]">
  {{ bookDetails.book_title }}!
</a>
<p class="author">{{ bookDetails.book_author }}</p>
<!-- <p class="price">${{ bookDetails.price }}</p> -->
<!-- @if (bookDetails.genre.length) {
<div class="genre-container">
  <a [routerLink]="['/genre', bookDetails.genre[0]]">
    <mat-chip class="genre">{{ bookDetails.genre[0] }}</mat-chip>
  </a>
  @if (bookDetails.genre.length-1) {
  <mat-chip class="genre">+{{ bookDetails.genre.length - 1 }}</mat-chip>
  }
</div>
} -->
